// variables
$white: #fff5ee;
$blue: #0d307a;

// player
.rhap_container {
    outline: none;
    .rhap_controls-section {
        justify-content: center;
        .rhap_additional-controls {
            display: none;
        }
        .rhap_main-controls {
            .rhap_play-pause-button {
                outline: none;
            }
            .rhap_rewind-button, .rhap_forward-button {
                display: none;
            }
        }
    }
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background: linear-gradient(#333, #1b1b1b);
    text-decoration: none;
    .header {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        &-logo {
            text-transform: uppercase;
        }
        a {
            color: $white;
            text-decoration: none;
            font-weight: bold;
            outline: none;
            transition: opacity .2s ease;
            &:hover {
                opacity: .8;
            }
            &:active {
                opacity: .6;
            }
        }
        nav {
            a {
                position: relative;
                &:not(:first-child) {
                    margin-left: 20px;
                }
                &::after {
                    content: '';
                    position: absolute;
                    width: 0;
                    transition: all .2s ease;
                    height: 2px;
                    left: 0;
                    bottom: -5px;
                    background: $white;
                }
            }
            .is-active-link {
                pointer-events: none;
                opacity: .8;
                transition: all .2s ease;
                &::after {
                    opacity: .8;
                    width: 100%;
                }
            }
        }
    }
}

.my-projects {
    margin: 40px 0;
    &_wrapper {
        display: flex;
        justify-content: center;
        margin: -10px;
        flex-wrap: wrap;
    }
    &_project {
        width: 304px;
        height: 304px;
        box-sizing: border-box;
        background: linear-gradient(#4c2dbe, #100eb8);
        margin: 10px;
        transition: all .5s ease;
        padding: 10px;
        &:hover {
            transform: scale(1.01);
            background: linear-gradient(#100eb8, #4c2dbe);
        }
        a {
            color: $white;
            text-decoration: none;
            font-size: 17px;
            display: block;
            font-weight: 500;
            text-transform: uppercase;
            transition: opacity .2s ease;
            &:hover {
                opacity: .8;
            }
            &:active {
                opacity: 1;
            }
        }
    }
    .new-project {
        background: linear-gradient(#4c2dbe, #100eb8);
        color: $white;
        text-decoration: none;
        font-size: 17px;
        font-weight: 500;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: .8;
        text-align: center;
        &:hover {
            background: linear-gradient(#100eb8, #4c2dbe);
            opacity: 1;
        }
        &:active {
            opacity: .8;
        }
    }
}

.uploadAudio {
    label {
        width: 220px;
        height: 42px;
        box-sizing: border-box;
        border-radius: 1em;
        display: block;
        background: $blue;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all .2s ease;
        &:hover {
            opacity: .9;
        }
        &:active {
            opacity: .9;
        }
    }
    input {
        display: none;
    }
}